[tool.poetry]
name = "fastgeoapi"
version = "0.0.0"
description = "fastgeoapi"
authors = ["Francesco Bartoli <francesco.bartoli@geobeyond.it>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/geobeyond/fastgeoapi"
repository = "https://github.com/geobeyond/fastgeoapi"
documentation = "https://fastgeoapi.readthedocs.io"
classifiers = [
    "Development Status :: 1 - Planning",
]
packages = [
    { include = "__main__.py" },
    { include = "app" },
    { include = "app/**/*.py" },
]

[tool.poetry.urls]
Changelog = "https://github.com/geobeyond/fastgeoapi/releases"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.75.1"
mangum = "^0.14.1"
loguru = "^0.6.0"
uvicorn = "^0.17.6"
pydantic = {extras = ["dotenv"], version = "^1.9.0"}
pygeoapi = "^0.12.0"
jinja2 = "3.0.3"
fastapi-opa = "^1.3.3"
typer = "^0.4.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
coverage = {extras = ["toml"], version = "^6.1"}
safety = "^1.10.3"
mypy = "^0.910"
typeguard = "^2.13.2"
xdoctest = {extras = ["colors"], version = "^0.15.10"}
pre-commit = "^2.15.0"
black = ">=21.10b0"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.9.2"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^2.6.0"
pre-commit-hooks = "^4.0.1"
pyupgrade = "^2.29.1"
mkdocs = "^1.3.0"
mkdocs-material = "^8.2.9"
mkdocs-material-extras = "^0.0.8"
mkdocs-material-extensions = "^1.0.3"
bandit = "1.7.2"
ipython = "^8.2.0"

[tool.poetry.scripts]
fastgeoapi = "fastgeoapi.__main__:main"

[tool.coverage.paths]
source = ["app", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["fastgeoapi", "tests"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
