.md-header__button.md-logo img {
  height: 120px;
  width: auto;
}

.md-header__button.md-logo {
  padding: 0;
}

:root {
  --md-primary-fg-color: #c9a227;
  --md-primary-fg-color--light: #d4b44a;
  --md-primary-fg-color--dark: #a68620;
}
