keycloak_server=http://localhost:8282
realm=pygeoapi
client_id=pygeoapi-client
client_secret=eCjOPQsddOd1KoImn7ONlof9TxUIbJX1
username=tomkralidis
password=pygeoapi
refresh_token=<dynamically populated from postman script leave empty>
access_token=<dynamically populated from postman script leave empty>
session_state=<dynamically populated from postman script leave empty>
scope=openid email profile
response_types=code id_token token