name: Validate OpenAPI with Spectral

on:
  - push
  - pull_request

jobs:
  spectral-oas:
    name: Lint and validate OpenAPI document for pygeoapi configuration
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - name: Check out the repository
        uses: actions/checkout@v4.1.1

      - name: Set up Python 3.12
        uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.12"

      - name: Upgrade pip
        run: |
          python -m pip install pip==25.1.1
          pip --version

      - name: Install UV
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          version: "0.7.3"

      - name: Create OpenAPI with fastgeoapi CLI
        run: |
          uv pip install --system --break-system-packages -r pyproject.toml
          uv run fastgeoapi openapi
        env:
          UV_SYSTEM_PYTHON: 1
          UV_BREAK_SYSTEM_PACKAGES: 1
      # Display the OAS3 ruleset (already in repo)
      - name: Show OAS3 ruleset
        run: |
          cat .spectral.oas3.yaml

      # Run Spectral for OAS3
      - name: Run Spectral for OAS3
        uses: stoplightio/spectral-action@latest
        with:
          file_glob: "pygeoapi-openapi.json"
          spectral_ruleset: ".spectral.oas3.yaml"
          fail_on_errors_only: true
          skip_validation_for_external_references: true

  spectral-owasp:
    name: Validate OpenAPI document against OWASP Top 10 API security rules
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - name: Check out the repository
        uses: actions/checkout@v4.1.1

      - name: Set up Python 3.12
        uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.12"

      - name: Upgrade pip
        run: |
          python -m pip install pip==25.1.1
          pip --version

      - name: Install UV
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          version: "0.7.3"

      - name: Create OpenAPI with fastgeoapi CLI
        run: |
          uv pip install --system --break-system-packages -r pyproject.toml
          uv run fastgeoapi openapi
        env:
          UV_SYSTEM_PYTHON: 1
          UV_BREAK_SYSTEM_PACKAGES: 1
      # Create OWASP API Security 10 ruleset
      - name: Create OWASP API Security 10
        run: |
          npm install -g @stoplight/spectral-owasp-ruleset@latest
          echo 'extends: ["https://unpkg.com/@stoplight/spectral-owasp-ruleset/dist/ruleset.mjs"]' > .spectral.owasp-top-10.yaml
          cat .spectral.owasp-top-10.yaml

      # Run Spectral for OWASP Top 10
      - name: Run Spectral for OWASP top 10
        uses: stoplightio/spectral-action@latest
        with:
          file_glob: "pygeoapi-openapi.json"
          spectral_ruleset: ".spectral.owasp-top-10.yaml"
          fail_on_errors_only: true
          skip_validation_for_external_references: true
